body{
  background-color:lavender ;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
main{
  background-color: white;
  width: 450px; 
  padding: 50px; 
  border-radius: 30px; 
  text-align: center;
  margin: 100px auto;
}
input{
  margin: 10px; 
  padding: 15px; 
  border-radius: 10px;
  width: 90%;
  height: 45px; 
}
input:focus{
  outline: none; 
  border: 2px solid #4b3f72;
  box-shadow: 0 0 15px #4b3f72;
}
button{
  padding: 100px 30px; 
  border-radius: 15px;
  background-color: #4b3f72;
  color: white;
  border: none;
  heogh: 40;
}
#welcome{
  display: none; 
}
h2{
  color: #b23a48;
}
h1{
  color: #4b3f72;
}
